/* 打印样式 A4 */
@media print {
  @page {
    size: A4; /* 设置纸张A4，也可以使用具体的尺寸 210mm 297mm */
    margin: 0 /* 设置边距0 */
  }
  .print-a4 {
    width: 210mm;
    height: 297mm;
    padding: 12px;
    font-size: 12px;
  }
  .print-a4 h5 {
    color: rgb(255, 0, 64);
  }
}

/* 页面样式 */
@media screen {
  .print-a4 {
    width: 210mm;
    height: 297mm;
    border: 1px solid #333;
    box-sizing: border-box;
    padding: 12px;
    font-size: 12px;
  }
  .print-a4 h5 {
    color: rgb(0, 255, 174);
  }
}


