/* fullcalendar v6  https://github.com/fullcalendar/fullcalendar */

.fc.fc-theme-standard {
  .fc-view-harness {
    .fc-scrollgrid {
      border-color: $shade300;

      a {
        color: $shade700;
      }

      th {
        background: #f8f9fa;
        border-color: $shade300;
        color: $shade700;
      }
  
      td {
        color: $shade700;
        border-color: $shade300;
      }
    }

    .fc-view {
      background: $primaryTextColor;
    }

    .fc-popover {
      background: none;
      border: 0 none;

      .fc-popover-header {
        border: 1px solid $shade300;
        padding: 1rem;
        background: #f8f9fa;
        color: $shade700;

        .fc-popover-close {
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          font-family: "PrimeIcons" !important;
          font-size: 1rem;
          width: 2rem;
          height: 2rem;
          color: #6c757d;
          border: 0 none;
          background: transparent;
          border-radius: 50%;
          transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

          &:before {
            content: "\e90b";
          }

          &:hover {
            color: $shade700;
            border-color: transparent;
            background: #e9ecef;
          }

          &:focus {
            @include focused();
          }
        }
      }

      .fc-popover-body {
        padding: 1rem;
        border: 1px solid $shade300;
        background: #ffffff;
        border-top: 0 none;
      }
    }

    .fc-event {
      &.fc-daygrid-block-event {
        color: #ffffff;
        background: $fullCalendarEventBg;
        border-color: $fullCalendarEventBorderColor;

        .fc-event-main {
          color: $fullCalendarEventTextColor;
        }
      }

      &.fc-daygrid-dot-event {
        .fc-daygrid-event-dot {
          background: $fullCalendarEventBg;
          border: 4px solid $fullCalendarEventBorderColor;
        }

        &:hover {
          background: #e9ecef;
          color: $shade700;
        }
      }
    }

    .fc-cell-shaded {
      background: #f8f9fa;
    }
  }

  .fc-toolbar {
    .fc-button {
      background: $buttonTextColor;
      color: $textColor;
      border: $inputBorder;
      font-size: $fontSize;
      transition: $formElementTransition;
      border-radius: $borderRadius;

      &.fc-prev-button, &.fc-next-button, &.fc-today-button {
        background: $buttonBg;
        color: $buttonTextColor;
        border: $buttonBorder;
      }

      &:disabled {
        opacity: 0.6;
      }

      &:enabled:focus {
        box-shadow: $focusShadow;
        // @include focused();
      }

      &:enabled:hover {
        background: $buttonHoverBg;
        color: $buttonTextHoverColor;
        border-color: $buttonHoverBorderColor;
      }

      &:enabled:active {
        background: $buttonActiveBg;
        border-color: $buttonActiveBorderColor;
        color: $buttonTextActiveColor;
      }

      &.fc-button-active {
        background: $buttonBg;
        color: $buttonTextColor;
        border: $buttonBorder;

        &:hover {
          background: $buttonActiveBg;
          border-color: $buttonActiveBorderColor;
          color: $buttonTextActiveColor;
        }
      }

      .fc-icon {
        font-family: "PrimeIcons" !important;
        text-indent: 0;
        font-size: $primeIconFontSize;
        vertical-align: unset;
      }

      .fc-icon-chevron-left {
        @include icon_override('\e900');
      }

      .fc-icon-chevron-right {
        @include icon_override('\e901');
      }
    }

    .fc-button-group {
      .fc-button {
        border-radius: 0;
  
        &:first-child {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
        }
  
        &:last-child {
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
      }
    }
  }

  .fc-highlight {
    background: $primaryLightColor;
  }

  .fc-divider {
    background: $panelHeaderBg;
    border: $panelHeaderBorder;
  }
}
